.PostPicContainer {
    margin: auto;
    position: relative;
    width: 1980px;
    height: 2000px;
    background-color: #F5EADC;
}

.PostPicCookie {
    width: 1980px;
    height: 225px;
    background-image: url('HomeCookie.jpg');
    background-size: cover;
    background-position: 15% 42%;
    background-repeat: no-repeat;
}

.PostPicLogoBox {
    width: 416px;
    height: 111px;
    border-radius: 20px;
    border: 10px solid #F5F5F5;
    background: #EFD3B4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 57px; 
    left: 111px; 
    z-index: 2; 
}

.PostPictHomeBox {
    width: 346px;
    height: 117px;
    border-radius: 58.5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 54px;
    right: 54px;
}

.PostPicLogo {
    width: 125px;
    height: 99px;
    position: absolute;
    top: 70px; 
    left: 120px; 
    z-index: 3; 
}

.BiskketText {
    width: 391px;
    height: 79px;
    position: absolute;
    color: #553D2D;
    font-family: 'Pangolin', cursive;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 5px;
    left: 250px;
    z-index: 3; 
}

.PostPicHome {
    width: 71px;
    height: 71px;
    position: absolute;
    top: 75px;
    right: 275px;
}

.HomeText {
    width: 154px;
    height: 62px;
    position: absolute;
    color: #503A2B;
    font-family: 'Pangolin', cursive;
    font-family: 'VT323', monospace;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 7px;
    right: 95px;
}

.PostPicWhiteBox {
        width: 613px;
        height: 2000px; 
        position: absolute;
        background-color: #FFF;
        padding: 20px;
        right: 652px;
        top: 297px;
}

.PostPicText {
    width: 408px;
    height: 117px;
    position: absolute;
    color: #503A2B;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-family: 'VT323', monospace;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    right: 775px;
    top: 297px;
}

.PostPicBox {
    width: 527px;
    height: 391px;
    position: absolute;
    background: #FFF;
    box-shadow: 1px 1px 4px 6px rgba(0, 0, 0, 0.25) inset;
    right: 713px;
    top: 480px;
}

.PostPicImage {
    width: 135px;
    height: 135px;
    position: absolute;
    left: 940px;
    top: 550px;
}

.WriteYourCaption {
    width: 424px;
    height: 67px;
    position: absolute;
    color: rgba(80, 58, 43, 0.41);
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 790px;
    top: 700px;
}

.PostPicButton {
    width: 455px;
    height: 68px;
    position: absolute;
    border-radius: 34px;
    background: #EFD3B4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    left: 780px;
    top: 920px;
}

.PostPicButtonText {
    width: 161px;
    height: 51px;
    position: absolute;
    color: #503A2B;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 930px;
    top: 880px;
}

.ImageBox {
    width: 207px;
    height: 184px;
    position: absolute;
    left: 900px;
    top: 520px;
    background: #D3BA9F96;
    border-radius: 20px;
    border: 8px solid #4E443AAB; 
}

.post-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 250px;
    width: 550px;
    left: 730px;
    text-decoration: none;

}

.post-img-box img {
    max-height: min-content;
    max-width: min-content;
}

.post-img-box textarea {
    margin-top: 10px;
    height: fit-content;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 25px;
}

.post-img-box input {
    margin-top: 5px;
        background-color: #EFD3B4;
        padding: 10px;
        border: 1px solid #553D2D;
        border-radius: 5px;
        cursor: pointer;
}

.post-img-box button {
    margin-top: 5px;
    color: #503A2B;
    font-family: 'Pangolin', cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #EFD3B4;
    border: 1px solid #553D2D;
    cursor: pointer;
    width: 550px;
}